/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.center{
  text-align: center;
}
.row{
  padding-top: 20px;
}
.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-width{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}
